.learn-with-me-section {
  height: 90vh;
  width: 90%;
  max-width: 1150px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.learn-with-me-section h1 {
  color: #102a42;
  letter-spacing: 3px;
}